<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title></title>
    <link th:replace="dist">
    <link rel="stylesheet" th:href="@{/css/category.css}">
</head>
<body>
<div th:replace="header"></div>
<!-- 类别导航 -->
<div class="category_nav">
    <div class="container">
        <ul>
            <li><a th:href="@{/public/home.html}">首页</a></li>
            <li><a th:href="@{/public/category.html}">全部商品</a></li>
            <li th:if="${type}" th:data="${type.id}" id="typeId" th:text="${type.type}">
                衬衫
            </li>
        </ul>
    </div>
</div>
<!--类目筛选-->
<div class="container">
    <div class="category_filter">
        <p th:if="${not #lists.isEmpty(types)}">
            商品类型:
            <a th:each="t:${types}" th:href="@{/public/category.html(typeId=${t.id})}" th:text="${t.type}" th:data="${t.id}" type="checkbox"/>
        </p>

        <p th:each="prop : ${properties}">
            <span th:text="${prop.getName()}"></span>
            <input th:each="d : ${prop.details}" th:text="${d.val}" th:value="${d.code}" name="detailCodes" type="checkbox">
        </p>
    </div>
    <p class="filter_text">
        <input type="text" name="name" placeholder="请输入要搜索的词" id="filter_name" class="">
        <button type="button" class="simple_btn small_btn" id="query_btn">确定</button>
    </p>
</div>
<div class="item_list">
    <div class="container">
        <div id="main_item">
            <!--<div class="col-md-3 col-sm-6 item_div">-->
                <!--<div class="tip">-->
                    <!--<h5>2折</h5>-->
                <!--</div>-->
                <!--<img th:src="@{/img/5.jpg}" class="img-responsive center-block">-->
                <!--<h5>商品名</h5>-->
                <!--<p>-->
                    <!--<span class="old_price">$300.00</span>-->
                    <!--<span>$250.00</span>-->
                <!--</p>-->
                <!--<a class="simple_btn">添加到购物车</a>-->
            <!--</div>-->
        </div>
        <h2 class="empty_tip">没有找到与"<span class="c_orange" id="tip_word">呵呵呵</span>"相关的
            <span class="c_orange" th:if="${type}" th:text="${type.type}">鞋子</span>
            <span class="c_orange" th:unless="${type}">商品</span>
        </h2>
    </div>
</div>

<script type="text/javascript">
    function callbackItem(data) {
        $("#main_item").empty();
        if (data.response.numFound == 0) {
            $("#tip_word").html($("#filter_name").val());
            $(".empty_tip").show();
            return ;
        }
        var items = data.response.docs;
        $(".empty_tip").hide();
        for (var i = 0; i < items.length; i++) {
            var discount = Math.ceil(items[i].lowest/items[i].originalPrice * 10);
            var tip = '';
            if (discount < 10) {
                tip = '<div class="tip"><h5>' + discount + '折</h5></div>';
            }

            var img = '<a href="' + BASE_URL + "/public/detail.html?itemId=" + items[i]._id + '"><img src="' + FILE_URL + items[i]['files.0'] + '" class="img-responsive center-block"></a>';

            var itemName = items[i].name;
            var highlighting = data.highlighting[items[i]._id].name;
            if (highlighting) {
                itemName = highlighting;
            }
            var name = '<h5>' + itemName + '</h5>';
            var price = '<p><span class="old_price">¥' + items[i].originalPrice + '</span><span>¥' + items[i].lowest + '</span></p>';
            var div = '<div class="col-md-3 col-sm-6 item_div">' + tip + img + name + price + '</div>';
            $("#main_item").append(div);
        }
    }

    function queryItem() {
        // 商品名称参数
        var param = "";
        var name = $("#filter_name").val();
        if (name != "") {
            param = "name:" + name + "\n";
        }

        var form = new FormData();
        // 类型过滤
        var data = "";
        var typeId = $("#typeId").attr("data");
        if (typeId && typeId != "") {
            // data += $.param("fq", "typeId:" + typeId);
            data += $.param({"fq":"typeId:" + typeId}) + "&";
        }

        // 商品属性参数
        var $inputs = $("input[name=detailCodes]:checked");
        if ($inputs.length > 0 ) {
            var detailCodesFq = "detailCodes:(";
            $inputs.each(function(i, input) {
                detailCodesFq += escapeQueryChars(this.value);
                if ($inputs.length-1 != i) {
                    detailCodesFq += " OR ";
                }
            });
            detailCodesFq += ")";

            data += $.param({"fq": detailCodesFq}) + "&";
        }

        data += $.param({"hl.fl":"name", "hl": "true", "hl.simple.pre":"<b>", "hl.simple.post":"</b>"}) + "&";

        if (param != "") {
            // data["q"] = param;
            data += $.param({"q" : param});
        } else {
            // data["q"] = "*:*";
            data += $.param({"q" : "*:*"});
        }
        $.ajax({
            url: SOLR_URL,
            type : 'GET',
            "data" : data ,
            success : function(data) {
                callbackItem(data);
            },
            dataType: 'jsonp',
            jsonp: 'json.wrf'
        });
    }

    $(function() {
        queryItem();
    })

    $("#query_btn").click(function() {
        queryItem();
    })

    /*
     * 转义字符查询
     */
    var escapeQueryChars = function (q){
        var result = '';
        //如果字符串q 不为空(null,未定义,空)
        if (q !== null && q !== undefined && q !== '' && q !=="") {
            for(var i=0;i < q.length;i++){
                var c = q.charAt(i);
                if (c == '\\' || c == '+' || c == '-' || c == '!'  || c == '(' || c == ')' || c == ':'
                    || c == '^' || c == '[' || c == ']' || c == '\"' || c == '{' || c == '}' || c == '~'
                    || c == '*' || c == '?' || c == '|' || c == '&'  || c == ';' || c == '/'
                    || c == ' ') {
                    result = result+ '\\';
                }
                result = result+ c;
            }
        }
        return result;
    };
</script>
</body>