<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"></meta>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>尚裳</title>
    <link th:replace="dist">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/ucenter.css}">
</head>
<body>
    <h3>我的信息</h3>
    <div>
    </div>

    <h3>收货地址</h3>
    <script>
        $(function() {
            window.parent.resizeIframe();
        })
    </script>
</body>
</html>